@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
}

body{
    color: #fff;
    background: #1d1d1d;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    min-width: 100vh;
    backdrop-filter: blur(1px);
    pointer-events: none;
}

.container nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 40px;
    height: 100px;
    align-items: center;
}

.container nav h1 {
    font-size: 2.6em;
    color: #fff;
    position: relative;
    cursor: pointer;
    pointer-events: all;
    letter-spacing: 4px;
}

.container nav h1 span{
    color: #00bfff;
}

.container nav ul{
    display: flex;
}

.container nav ul li{
    position: relative;
    list-style: none;
    font-size: 1.5em;
    font-weight: 400;
    padding: 12px 18px;
    cursor: pointer;
    pointer-events: all;
    overflow: hidden;
}

.container nav ul li a::after{
    content: '';
    position: absolute;
    bottom: 5px;
    width: 0%;
    height: 3px;
    left: 50%;
    color: #fff;
    background: #00bfff;
    transform: translateX(-50%);
    transition: .3s;
}

.container nav li a:hover{
    color: #00bfff;
}

.container nav li a:hover::after{
    width: 80%;
}

.container section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    text-align: center;
    pointer-events: none;
}

.textBox h1{
    font-size: 3.4em;
}

.textBox p a{
    font-size: 1.2em;
}

.textBox .homeBtn{
    font-family: 'Poppins';
    padding: 8px 18px;
    margin: 16px 12px;
    font-size: 26px;
    background-color: transparent;
    color: var(--i);
    outline: none;
    border: 3px solid var(--i);
    border-radius: 4px;
    cursor: pointer;
    pointer-events: all;
    transition: .3s;
    font-weight: 600;
    
}

.textBox .homeBtn a{
    color: var(--i);
}

.textBox .homeBtn:hover{
    background-color: var(--i);
    color: #000;
    transition: .3s;
}

.textBox .homeBtn:hover a{
    color: #000;
}

.bgAnimation{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
    background: #1d1d1d;
    filter: saturate(2);
    overflow: hidden;
}

.colorBox{
    z-index: 2;
    filter: brightness(1.1);
    transition: 2s ease;
    position: relative;
    margin: 2px;
    background: #1d1d1d;
}

.colorBox:hover{
    background: #00bfff;
    transition-duration: 0s;
}

.backgroundAnim{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #00bfff;
    filter: blur(60px);
    animation: animBack 6s linear infinite;
}

@keyframes animBack {
    0%{
        top: -60px;
    }

    100%{
        top: 120%;
    }
}

.teamMem{
    margin-top: 75px;
}

.headin{
   text-align: center; 
}

.headin h1{
    text-transform: uppercase;
}

.headin p{
    margin-top: 15px;
    text-align: center;
    color: #878b8dcc;
    text-shadow: 0 0 20px #00bfff;
}

.cont{
    /* margin: auto; */
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrapper{
    width: 300px;
    background: transparent;
    border: 1.5px solid #00bfff;
    backdrop-filter: blur(25px);
    box-shadow: 0 0 20px #00bfff;
    color: #fff;
    border-radius: 10px;
    padding: 200px 15px;
    /* margin-top: 50px; */
    /* margin-left: 90px; */
    /* margin-bottom: 50px; */
    transition: .3s;
    cursor: pointer;
    margin: 60px 60px 125px;
}   

.wrapper:hover{
   transform: scale(1.1);
}

.srvs{

}

.headin2{
    text-align: center;
}

.headin2 p{
    margin-top: 15px;
    text-align: center;
    color: #878b8dcc;
    text-shadow: 0 0 20px #00bfff;
}

.con{
    /*height: 100px;
    width: 100px;
    position: absolute;
    flex-wrap: wrap;
    text-align: center;*/
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.srv{
    padding: 0px 100px 100px;
}

a i{
   font-size: 50px;
   cursor: pointer;
   transition: .3s;
   /*padding: 50px 25px 50px 239px;*/
}

.con i:hover{
    color: #00bfff;
}

.srv a h3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -11px;
    transition: .3s;
}

a h3:hover{
    color: #00bfff;
}

footer{
    background-color: #000;
    padding: 200px;
}

